.App{
text-align: center;
}

a {
	text-decoration: none;
}

.headerDiv {
  background-color: #74A2A3;
  width: 100vw;
  /* margin: 1vh 0 0 1vw; */
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.headerDiv p{
  padding: 15px;
  font-size: 1.1em;
  color: white;
  cursor: pointer;
  transition: all 0.7s ease 0s;
  text-align: center;
  /* border-bottom: 2px solid #74A2A3; */
}

.headerDiv p:hover{
	color: #C4B6C8;
	/* border-bottom: 2px solid white; */
	transition: all 0.7s ease 0s;
}

.headerItems{
	display: inline;
}

.bodyGrid {
  display: grid;
  width: 100vw;
  /* margin-left: 1vw; */
  grid-template-rows: 60vh 30vh;
  grid-template-columns: 33vw 33vw 33vw;
  grid-gap: 1vh;
  /* margin: 1vh 3vw 1vh 3vw; */
  margin-top: 1vh;
}

.bodyGridWithPic {
  grid-row: 1/2;
  grid-column: 1/4;
  background-image: url(clinic.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 40px; */
  border-radius: 5px;
}

.opacityBoxInGrid{
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
}

.toothLogo{
	height: 150px;	
	padding-top: 30px;

}



.textLogo{
	padding: 0 40px 0 40px;
	margin-top: 10px;
	color: #868686;
	font-size: 2em;
}

.kontaktDiv {
  grid-row: 2/3;
  grid-column: 1/2;
  background: #74A2A3;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 2vh 4vw 4vh 4vw;
  border-radius: 5px;
  display: block;
  transition: all 0.7s ease 0s;
}

.telNum{
	color: white;
	font-size: 1.5em;
}

.locationLogo{
	height: 30px;
}

.timeLogo{
	height: 30px;
}

.akutTextRubrik{
font-weight: bold;
}

.akutText{
	font-size: 0.9em;
}

.kontaktDiv:hover {
  background: #B9DADB;
  transition: all 0.7s ease 0s;
}

.hittaHitDiv {
  grid-row: 2/3;
  grid-column: 2/3;
  background: #74A2A3;	
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 2vh 4vw 4vh 4vw;
  border-radius: 5px;
  display: block;
  transition: all 0.7s ease 0s;
}

.hittaHitDiv:hover{
	background: #B9DADB;
	transition: all 0.7s ease 0s;
}

.openDiv {
  grid-row: 2/3;
  grid-column: 3/4;
  background: #74A2A3;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 2vh 4vw 4vh 4vw;
  border-radius: 5px;
  display: block;
  transition: all 0.7s ease 0s;
}
.openDiv:hover{
	background: #B9DADB;
	transition: all 0.7s ease 0s;
}

button{
	background-color: #C4B6C8;
	color: white;
	padding: 10px;
	border-radius: 2px;
	border: 2px solid #C4B6C8;
	cursor: pointer;
	transition: all 0.7s ease 0s;
}

button:hover{
	border: 2px solid #A094A3;
	background-color: #A094A3;
	transition: all 0.7s ease 0s;
}

button:focus{
	outline: none;
}






@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  .popUpModal {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .popUpDiv {
	width: 650px;
	height: 450px;
	background-color: white;
	/* display: grid; */
	border-radius: 5px;
  }

  
  .popUpX {
	/* grid-column: 7/8;
	grid-row: 1/2; */
	color: #A094A3;
	/* align-self: start;
	justify-self: end; */
	margin-left: 610px;
	cursor: pointer;
	font-size: 1.4em;
	margin-top: 12px;
	margin-right: 20px;
	transition: all 0.7s ease 0s;
  }
  
  .popUpX:hover {
	font-weight: bold;
	/* color: white; */
	transition: all 0.7s ease 0s;
	/* font-size: 1.5em; */
  }
.mapText{
	color: black;
	font-size: 0.8em;
	border: 2px solid #A094A3;
	padding: 20px 0 20px 0;
	margin: 0 50px 0 50px;
	border-radius: 5px;
}
.mapPic{
	width: 500px;
	height: 250px;
} 
/* .gridButton{
margin-top: 3vh;
} */

@media (max-width: 900px){

	.

	.hittaHitDiv {
		grid-row: 2/3;
		grid-column: 2/3;
		padding: 2vh 2vw 4vh 2vw;
	  }
	  
	  
	  .openDiv {
		grid-row: 2/3;
		grid-column: 3/4;
		padding: 2vh 2vw 4vh 2vw;

	  }

	  .kontaktDiv {
		grid-row: 2/3;
		grid-column: 1/2;
		padding: 2vh 2vw 4vh 2vw;
	  }

}

@media (max-width: 700px){
	.headerDiv p{
		font-size: 0.9em;
	  }
	.bodyGrid {
		grid-template-columns: 100vw;
		grid-template-rows: 40vh 25vh 25vh 25vh;
	  }
	  .bodyGridWithPic {
		grid-row: 1/2;
		grid-column: 1/2;
		background-image: url(clinic.jpg);
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px;
		border-radius: 5px;
	  }
	.hittaHitDiv {
		grid-row: 2/3;
		grid-column: 1/2;
		padding: 1vh 4vw 4vh 4vw;
	  }
	  
	  
	  .openDiv {
		grid-row: 3/4;
		grid-column: 1/2;
		padding: 1vh 4vw 4vh 4vw;
	  }

	  .kontaktDiv {
		grid-row: 4/5;
		grid-column: 1/2;
		padding: 1vh 4vw 4vh 4vw;
	  }

}

@media (max-width: 460px){
	.App{
		overflow-y: scroll;
	}
	  
	  .headerDiv p{
		padding: 7px;
		/* font-size: 1em; */
	  }

	.bodyGrid {
		grid-template-rows: 40vh 36vh 36vh 36vh;
	  }
	  .bodyGridWithPic {
		grid-row: 1/2;
		grid-column: 1/2;
		background-image: url(clinic.jpg);
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10vw;
		border-radius: 5px;
	  }

	  .textLogo{
		padding: 0 20px 0 20px;
		margin-top: 10px;
		color: #868686;
		font-size: 1.2em;
	}
	.hittaHitDiv {
		grid-row: 2/3;
		grid-column: 1/2;
		padding: 1vh 4vw 4vh 4vw;
	  }
	  
	  
	  .openDiv {
		grid-row: 3/4;
		grid-column: 1/2;
		padding: 1vh 4vw 4vh 4vw;
	  }

	  .kontaktDiv {
		grid-row: 4/5;
		grid-column: 1/2;
		padding: 0vh 4vw 4vh 4vw;
	  }

}
  